{
  "extends": ["react-app", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react-hooks"
  ],
  "rules": {
    "max-len": ["warn", 120],
    "prettier/prettier": "error"
  }
}